/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2017, 10:27:49 PM
    Author     : Kevin Bosman
*/

/*
    Color scheme #1
        
        #3364B2
        #168D96
        #6C95B7
        #80CECB
        #AEDEE2 
*/

/*
    Color scheme FVK
        
        #C09033  
        #EEE7EB  
        #C7D3D4  
        #81BCBC  
        #574F4F
*/


body {
    background-color: #C7D3D4;
    font-family: 'Aldrich';
    font-size: 22px;
    margin-top: 75px;
}

.resume ul {
    list-style-type:none
}

.card {
    word-wrap: break-word;
    background-color: #EEE7EB;
}

.card header {
    word-wrap: break-word;
    background-color: #81BCBC;
    color: #EEE7EB;
}

.card .resume-icon {
    color: #C09033;
}