<div class="card w3-card-8 w3-margin-bottom">
    <header class="w3-container">
        <span class="glyphicon glyphicon-wrench resume-icon" aria-hidden="true"></span> Skills
    </header>
    <div class="w3-container">
        <div ng-repeat="skill_section in $ctrl.data">
            <!-- Create Skill section name-->
            <h3><b>{{skill_section.groupName}}</b></h3>
            
            <!-- Loop through all skills -->
            <ul>
                <div ng-repeat="skill in skill_section.keywords">
                    <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> {{skill}}</li>
                </div>
            </ul>
        </div>
    </div>
</div>

